@import "tailwindcss";

/* 1. Memicu dark mode saat ada class .dark (dari tombol kita) */
@custom-variant dark (&:where(.dark, .dark *));

/* 2. Mengatur font bawaan Next.js Geist */
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 3. Warna Dasar Web (Mode Terang) */
:root {
  --background: #ffffff; /* Putih bersih */
  --foreground: #064e3b; /* Hijau emerald gelap untuk teks dasar */
}

/* 4. Warna Dasar Web Saat Tombol Mode Gelap Diklik */
.dark {
  --background: #111827; /* Abu-abu sangat gelap (bukan hitam pekat) */
  --foreground: #f3f4f6; /* Putih tulang agar teks nyaman dibaca */
}

/* 5. Terapkan ke seluruh halaman dengan transisi mulus */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; 
}